.hamburger {
    position: relative;
    width: 3em;
    height: 1.75em;
    border: 0.5em solid transparent;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    outline: none;

    &.is-active {
        &::before {
            background: $teal-100;
            transform: translateY(4px) rotateZ(-45deg);
        }

        &::after {
            background: $teal-100;
            transform: translateY(-6px) rotateZ(45deg);
        }
    }

    &:not(.is-active):hover,
    &:not(.is-active):active {
        &::before {
            background: $teal-100;
        }

        &::after {
            background:
            linear-gradient(
                to right,
                rgba($teal-100, 1) 70%,
                rgba($teal-100, 0) 70%,
                rgba($teal-100, 0) 100%
            );
        }
    }

    &::before,
    &::after {
        content: "";
        background: $white;
        width: 100%;
        height: 1px;
        left: 0;
        position: absolute;
        border-radius: 10px;
        will-change: transform;
        transition: transform $transition cubic-bezier(0.77, 0.2, 0.05, 1), background $transition ease;
    }

    &::before {
        top: 0;
    }

    &::after {
        background: linear-gradient(to right, rgba($white, 1) 70%, rgba($white, 0) 70%, rgba($white, 0) 100%);
        bottom: 0;
    }
}
