.lh {
    &-120 {
        line-height: 120%;
    }

    &-125 {
        line-height: 125%;
    }

    &-140 {
        line-height: 140%;
    }

    &-155 {
        line-height: 155%;
    }

    &-160 {
        line-height: 160%;
    }
}
