.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    &--line-4 {
        -webkit-line-clamp: 4;
    }
}
