@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Fonts */
$font-primary: inter, sans-serif;

/* Colors */
$white: #ffffff;
$light-100: #eaeaea;
$dark-100: #171821;
$dark-200: #2c2e37;
$dark-300: #474952;
$dark-400: #494a51;
$dark-500: #2e2f36;
$dark-600: #4d4f5a;
$dark-700: #222329;
$muted-100: #a8acb3;
$muted-200: #85878f;
$teal-100: #24d08f;
$teal-200: #16c181;
$black: #000000;

/* Transition */
$transition: 0.3s;
